@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sistema de Contabilidad</h1>
    <p class="lead">Integración de Sistema Contable</p>
</div>

<h1>Integrantes:</h1>
<br />
<div class="row">
    <div class="col-md-4">
        <h2>Freddy Rosa</h2>
        <h5>Matrícula: 2016-1991</h5>
</div>
    <div class="col-md-4">
        <h2>José Angel Ortiz</h2>
        <h5>Matrícula: 2016-2272</h5>
</div>
    <div class="col-md-4">
        <h2>Felipe Medina</h2>
        <h5>Matrícula: 2015-1284</h5>
</div>
</div>